
// Vertical Rhythm
$base-font-size: 13px;
$base-line-height: 24px;
@include establish-baseline();

<<<<<<< HEAD
// colors
$color1: #B03B01; // header color
$color2: #075899; // link color

#Header {
  background: $color1;
  a {
    color: $color2;
  }
}
=======
>>>>>>> 076852e3d071df6831b913c60f3d6827af6fbf59
